.apply{
    padding: 5% 0;
}

.apply h3{
    font-size: 30px;
    font-weight: bold;
}

.apply p{
    font-size: 14px;
    color: var(--color-gry);
}

.apply label
{
    margin-bottom: 0;
    font-size: 13px;
    margin-top: 15px;
    font-weight: bold;
}

.apply input
{
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    width: 100%;
    height: auto;
    font-size: 13px;
}

.apply input::placeholder
{
    color: rgb(138, 138, 138);
}