.footer{
    background-color: #191919;
    padding: 3% 0 0% 0;
    background-repeat: no-repeat;
}

.footer .first .logo i
{
    color: orange;
    padding-right: 10px;
    font-size: 25px;
}

.footer .logo a
{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.footer .first h3{
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.footer .first h3 a {
    float: right;
}

.footer .first p{
    font-size: 13px;
    color: #c1c1c1;
}

.footer .press{
    margin-top: 5%;
}

.footer .press a{
    color: white;
    background-color: red;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 13px;
}

.footer .press a:hover{
    background-color: white;
    color: black;
    opacity: 0.5s;
    transition: 0.5s;
}

.footer .first ul{
    list-style: none;
    padding-left: 0;
}

.footer .first ul {
    display: none;
}

.footer .first ul.open {
    display: block;
}

.footer .first li{
    padding-top: 9px;
}

.footer .first li a{
    color: white;
    font-size: 14px;
}

.footer .first li a:hover
{
    color: var(--color-orange);
    transition: 0.5s;
    opacity: 0.5s;
    
}

.footer .seprator{
    width: 100%;
    background-color: #ffffff1f;
    height: 2px;
    margin-top: 3%;
}

.footer .last {
    padding: 1% 0;
}

.footer .last p{
   text-align: center;
    color: grey;
    font-size: 13px;
}


/* menu desktop and mobile switching on responsive  */
@media only screen and (max-width: 768px) {
 
}

@media only screen and (max-width: 600px) {
    .footer .first{
        margin-top: 7%;
    }

    .footer .first h3{
        padding-top: 5%;
    }

    .footer .last {
        padding: 2% 0;
    }

    .footer .last p{
         font-size: 12px;
    }

}
