.pickup{
    padding: 5% 0;
}

.pickup label, input textarea::placeholder
{
    margin-bottom: 0;
    font-size: 13px;
    margin-top: 15px;
    font-weight: bold;
}

.pickup input, input textarea::placeholder
{
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    width: 100%;
    height: auto;
    font-size: 13px;
}

.pickup input::placeholder, input textarea::placeholder
{
    color: rgb(138, 138, 138);
}